	<form action="/edited" method="get">
		<div align = "center">
			Edit post<br>
			<textarea cols="40" rows="5" name="content"><%= @content%></textarea>
		</div>
		<div align = "center">
			<input type="submit" value="Submit">
		</div>
	</form>